scrolledwindow overshoot.top,
scrolledwindow overshoot.bottom {
  background: none;
}

window {
  background-color: #0B0C1A;
}

* {
  font-family: "Roboto";
  color: #C8D6FF;
  font-weight: 700;
}

#scroll {
  padding: 0.5rem;
}

#input {
  background-color: #141830;
  color: #C8D6FF;
  outline: none;
  box-shadow: none;
  border: 0;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  padding: 0.5rem;
}

#inner-box {
  margin: 0.5rem;
  font-size: 0.8rem;
  color: #C8D6FF;
}

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 0.5rem;
}

#entry:selected {
  background-color: #1F223A;
  outline: none;
}

#text:selected {
 # color: #FFFFFF;
}
